openapi: 3.1.0
info:
  title: DM Faster Agent API
  version: 1.0.0
  description: |
    The stable API used by DM Faster agent clients. Every token is bound to one
    workspace. Campaign planning and private drafts use the same authoritative
    domain services as the app. Launch and pause require a short-lived server
    authorization bound to an exact campaign version and idempotency key. Owners
    may grant campaigns:control once when connecting an agent to act on their
    explicit instructions without a separate approval page for each action.
    Connections without that permission retain per-action browser approval.
    Browser-based launches first return a resumable setup handoff when no fresh
    browser worker is connected.
  license:
    name: Proprietary
servers:
  - url: https://app.dmfaster.com
    description: DM Faster application and Agent API.
tags:
  - name: Agent authentication
    description: Browser-approved login and revocation for local agent clients.
  - name: Agent tools
    description: Bounded tools backed by authoritative DM Faster domain services.
security:
  - bearerAuth: []
x-dmfaster-scopes:
  "workspace:read": Read workspace summary and aggregate worker state.
  "campaigns:read": Read campaign metadata and performance.
  "sending:read": Read browser-worker and sending health.
  "inbox:read": Read reply-attention data from the unified inbox.
  "inbox:write": Update conversations and send explicitly instructed replies.
  "pipeline:read": Read pipeline summaries and company outreach history.
  "pipeline:write": Update prospect stages and notes.
  "audiences:read": Resolve industries and preview exact company audiences.
  "campaigns:write": Validate plans, prepare private drafts, and request confirmed pauses.
  "campaigns:launch": Request and execute separately approved campaign launches.
  "campaigns:control": With the action's normal scope, start or pause campaigns on explicit user instructions without per-action browser approval. Requires an owner grant at connection time.
  "calendar:read": Inspect calendar connection and bounded availability.
  "calendar:write": Book explicitly instructed meetings and send calendar invitations.
  "calls:read": Read authorized meeting details and outcomes.
  leads:read: Read social prospecting jobs, profile enrichment and exact lead credit balance.
  leads:write: Spend lead credits on explicitly instructed social extraction and profile enrichment
    jobs. Requires the workspace owner.
paths:
  /api/v1/agent/auth/device:
    post:
      tags: [Agent authentication]
      operationId: startAgentDeviceAuthorization
      summary: Start browser-approved agent login
      description: |
        Creates a short-lived device authorization protected by PKCE S256. The
        returned device code and locally generated verifier must remain inside
        the client; only the secret-free verification URL is opened in the browser.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentDeviceAuthorizationInput"
      responses:
        "201":
          description: A five-minute browser authorization was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentDeviceAuthorizationResult"
        "400": { $ref: "#/components/responses/AuthBadRequest" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/auth/token:
    post:
      tags: [Agent authentication]
      operationId: exchangeAgentDeviceAuthorization
      summary: Poll and exchange an approved agent login
      description: |
        Poll no faster than the interval returned by the start endpoint. An
        approved authorization can be exchanged exactly once.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentDeviceTokenInput"
      responses:
        "200":
          description: The browser authorization was approved and exchanged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentDeviceTokenResult"
        "400": { $ref: "#/components/responses/AuthBadRequest" }
        "403": { $ref: "#/components/responses/AuthForbidden" }
        "409": { $ref: "#/components/responses/AuthConflict" }
        "428": { $ref: "#/components/responses/AuthPending" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/auth/status:
    get:
      tags: [Agent authentication]
      operationId: getAgentAuthenticationStatus
      summary: Verify the current agent login
      responses:
        "200":
          description: The bearer credential is active and its workspace remains accessible.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentAuthenticationStatus"
        "401": { $ref: "#/components/responses/AuthUnauthorized" }
        "403": { $ref: "#/components/responses/AuthForbidden" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/auth/revoke:
    post:
      tags: [Agent authentication]
      operationId: revokeAgentAuthentication
      summary: Revoke the current agent login
      responses:
        "200":
          description: The bearer credential was revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentAuthenticationRevoked"
        "401": { $ref: "#/components/responses/AuthUnauthorized" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/tools/analytics.summary:
    post:
      tags: [Agent tools]
      operationId: analyticsSummary
      summary: Inspect an analytics summary
      description: Returns an authoritative analytics snapshot for an explicit time scope, optionally limited to one campaign. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["workspace:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: analytics_summary
        title: Analytics summary
        description: Read an authoritative analytics snapshot for an explicit time scope, optionally limited to one campaign identifier or exact name.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: analytics summary --scope today|last_24_hours|campaign_to_date [--campaign ID_OR_NAME]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsSummaryInput"
      responses:
        "200":
          description: Analytics summary.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSummaryResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/workspace.briefing:
    post:
      tags: [Agent tools]
      operationId: workspaceBriefing
      summary: Inspect the workspace briefing
      description: Returns an authoritative workspace, campaign, and sending summary. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["workspace:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: workspace_briefing
        title: Workspace briefing
        description: Start here when the user has not named a specific DM Faster resource. Read the authoritative workspace summary and current campaign and sending priorities.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: workspace briefing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceBriefingInput"
      responses:
        "200":
          description: Workspace briefing.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceBriefingResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaigns.list:
    post:
      tags: [Agent tools]
      operationId: campaignsList
      summary: List campaigns
      description: Lists campaigns with exact filtered totals and a continuation cursor. A changed collection rejects the cursor so callers can restart without silently skipping a campaign. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaigns_list
        title: List campaigns
        description: Search and page through campaigns in the current workspace. Reuse nextCursor until hasMore is false; restart if the collection changes.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: campaigns list [--status STATUS] [--query TEXT] [--channel CHANNEL] [--limit N] [--cursor CURSOR]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignsListInput"
      responses:
        "200":
          description: Campaign list.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignsListResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.inspect:
    post:
      tags: [Agent tools]
      operationId: campaignInspect
      summary: Inspect campaign settings and performance
      description: |
        Returns saved social copy and delivery settings alongside execution and
        pipeline facts. When campaignId is omitted, the selected, active, or most
        recent campaign is used. Read-only. Use campaign.copy.inspect for exact
        LinkedIn invitation and accepted-message settings.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_inspect
        title: Inspect campaign
        description: Read saved social copy, delivery, outcomes, and pipeline facts for a campaign identifier returned by DM Faster. Use campaign_copy_inspect for LinkedIn invitation and accepted-message settings.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: campaign inspect [CAMPAIGN_ID]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignInspectInput"
      responses:
        "200":
          description: Campaign performance.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.copy.inspect:
    post:
      tags: [Agent tools]
      operationId: campaignCopyInspect
      summary: Inspect exact social and LinkedIn campaign copy
      description: |
        Read the exact saved opening copy, LinkedIn invitation mode and note,
        both follow-up sequences, and the effective first LinkedIn message.
        The first LinkedIn message is queued on verified acceptance or when the
        prospect is already connected; a recorded human reply on any channel
        for the same company in this campaign suppresses unsent messages.
        Read-only. Requires an exact campaign identifier returned by DM Faster.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_copy_inspect
        title: Inspect campaign copy and LinkedIn sequence
        description: Read exact saved social opening copy, LinkedIn invitation settings, both sequences and effective accepted-message variants for a campaign identifier returned by DM Faster.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: campaign copy inspect CAMPAIGN_ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignCopyInspectInput"
      responses:
        "200":
          description: Exact campaign copy and LinkedIn settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignCopyInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/sending.inspect:
    post:
      tags: [Agent tools]
      operationId: sendingInspect
      summary: Inspect sending health
      description: |
        Returns customer-facing campaign, queue, and browser-worker health. When campaignId
        is omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["sending:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: sending_inspect
        title: Inspect sending health
        description: Read browser-worker, queue, and failed-send health for the workspace or one campaign.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: sending inspect [CAMPAIGN_ID]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendingInspectInput"
      responses:
        "200":
          description: Sending health.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendingInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/replies.list:
    post:
      tags: [Agent tools]
      operationId: repliesList
      summary: List priority replies
      description: |
        Returns bounded reply-attention records from the pipeline. When campaignId
        is omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["inbox:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: replies_list
        title: List priority replies
        description: Read actual reply-stage records that need attention. Never infer replies from sent counts.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: replies list [CAMPAIGN_ID] [--limit N] [--query TEXT]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepliesListInput"
      responses:
        "200":
          description: Priority replies.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepliesListResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/conversations.list:
    post:
      tags: [Agent tools]
      operationId: conversationsList
      summary: List inbox conversations
      description: Lists actual inbox conversations with app filters and a continuation cursor. Read-only; listing does not mark messages read.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["inbox:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: conversations_list
        title: List inbox conversations
        description: Find actual inbox conversations by status, campaign, channel, and text. Page with the returned cursor; listing never marks a conversation read.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Inbox
        usage: conversations list [--filter FILTER] [--channel CHANNEL] [--campaign-id ID] [--query TEXT] [--limit N] [--cursor CURSOR] [--input FILE]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationsListInput"
      responses:
        "200":
          description: Inbox conversation page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationsListResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/conversation.inspect:
    post:
      tags: [Agent tools]
      operationId: conversationInspect
      summary: Read one inbox conversation
      description: Reads an exact workspace conversation and one bounded page of actual messages, including attachment metadata. Read-only; inspection does not mark messages read.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["inbox:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: conversation_inspect
        title: Read inbox conversation
        description: Read an exact conversation's inbound and outbound message page. Pass nextCursor with the same conversation ID to continue.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Inbox
        usage: conversation inspect CONVERSATION_ID [--limit N] [--cursor CURSOR] [--input FILE]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationInspectInput"
      responses:
        "200":
          description: Conversation and message page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/conversation.update:
    post:
      tags: [Agent tools]
      operationId: conversationUpdate
      summary: Update one inbox conversation
      description: Applies one bounded inbox action to the exact inspected conversation version. Never sends a message.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["inbox:read", "inbox:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: conversation_update
        title: Update inbox conversation
        description: Mark read or unread, close or reopen, snooze, assign, or set interest on one inspected conversation. Echo its updatedAt.
        annotations:
          {
            readOnlyHint: false,
            destructiveHint: false,
            idempotentHint: true,
            openWorldHint: false,
          }
      x-dmfaster-cli:
        section: Inbox
        usage: conversation update --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConversationUpdateInput" }
      responses:
        "200":
          description: Updated conversation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversationUpdateResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/conversation.reply:
    post:
      tags: [Agent tools]
      operationId: conversationReply
      summary: Send an instructed reply to one conversation
      description: Queue or send the exact user-approved text only when the inspected conversation still has the same inbound and latest message. A durable idempotency key prevents duplicate replies. A queued receipt does not prove delivery.
      x-dmfaster-effect: external
      x-dmfaster-required-scopes: ["inbox:read", "inbox:write"]
      x-dmfaster-approval: human_confirmation
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: conversation_reply
        title: Send conversation reply
        description: Send only text explicitly approved by the user for this exact conversation. Echo lastInboundAt and lastMessageAt from inspection, and use a stable idempotency key. Inspect delivery afterward.
        annotations:
          { readOnlyHint: false, destructiveHint: true, idempotentHint: true, openWorldHint: true }
      x-dmfaster-cli:
        section: Inbox
        usage: conversation reply --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConversationReplyInput" }
      responses:
        "200":
          description: Reply action receipt, possibly queued or delivery unknown.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversationReplyResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/conversation.reply.inspect:
    post:
      tags: [Agent tools]
      operationId: conversationReplyInspect
      summary: Inspect actual reply delivery state
      description: Reads the durable action created by conversation.reply, including queued, sent, failed, or delivery unknown state.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["inbox:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: conversation_reply_inspect
        title: Inspect reply delivery
        description: Check the durable state of a reply by its idempotency key; queued is not sent.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Inbox
        usage: conversation reply inspect --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConversationReplyInspectInput" }
      responses:
        "200":
          description: Current durable reply state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversationReplyInspectResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.followups.list:
    post:
      tags: [Agent tools]
      operationId: campaignFollowupsList
      summary: Inspect upcoming or completed follow-up jobs
      description: Returns the authoritative follow-up queue, including failed and skipped jobs, with cursor pagination.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["sending:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_followups_list
        title: List campaign follow-ups
        description: Read upcoming, completed, skipped, or failed follow-ups for one campaign.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Campaigns
        usage: campaign followups list --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignFollowupsListInput" }
      responses:
        "200":
          description: Follow-up queue page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignFollowupsListResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.followups.cancel:
    post:
      tags: [Agent tools]
      operationId: campaignFollowupsCancel
      summary: Cancel queued follow-ups for selected prospects
      description: Stops the selected queued, unsubmitted follow-up chains and skips their remaining queued follow-up jobs. Running or submitted attempts block the action. Requires the owner's explicit instruction for these prospects.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_followups_cancel
        title: Cancel queued follow-ups
        description: Stop exact queued follow-up chains using inspected job IDs, campaign version, and a stable idempotency key.
        annotations:
          { readOnlyHint: false, destructiveHint: true, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Campaigns
        usage: campaign followups cancel --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignFollowupsCancelInput" }
      responses:
        "200":
          description: Durable cancellation receipt.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignFollowupsCancelResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.outcomes.list:
    post:
      tags: [Agent tools]
      operationId: campaignOutcomesList
      summary: Page through actual campaign execution events
      description: Reads recorded worker events for a campaign, including send, skip, and failure reasons. A queued job is not a sent message.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["sending:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_outcomes_list
        title: List campaign outcomes
        description: Read the execution event timeline with reasons and cursor pagination.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Campaigns
        usage: campaign outcomes list --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignOutcomesListInput" }
      responses:
        "200":
          description: Execution event page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignOutcomesListResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/senders.inspect:
    post:
      tags: [Agent tools]
      operationId: sendersInspect
      summary: Inspect connected sender accounts and recovery status
      description: Returns safe browser and mailbox status. Connection repair remains an owner handoff through the app; this tool does not expose credentials.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["sending:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: senders_inspect
        title: Inspect senders
        description: Read browser and email sender status, health, and the setup URL for manual reconnection.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Campaigns
        usage: senders inspect
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WorkspaceBriefingInput" }
      responses:
        "200":
          description: Sender status.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SendersInspectResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/history.list:
    post:
      tags: [Agent tools]
      operationId: historyList
      summary: Page through confirmed sent-message history
      description: Reads confirmed sends for one campaign. Cursor pages can be used to build an export; failed and skipped attempts are in campaign.outcomes.list.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read", "sending:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: history_list
        title: List sent history
        description: Page the confirmed sends for one campaign, including channel and target.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Campaigns
        usage: history list --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/HistoryListInput" }
      responses:
        "200":
          description: Confirmed sends page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoryListResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/pipeline.inspect:
    post:
      tags: [Agent tools]
      operationId: pipelineInspect
      summary: Inspect campaign pipeline
      description: |
        Returns pipeline counts and a bounded lead sample. When campaignId is
        omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["pipeline:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: pipeline_inspect
        title: Inspect pipeline
        description: Read contacted, replied, booked-call, and closed pipeline counts for a campaign.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: pipeline inspect [CAMPAIGN_ID]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineInspectInput"
      responses:
        "200":
          description: Pipeline summary.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/pipeline.cards.list:
    post:
      tags: [Agent tools]
      operationId: pipelineCardsList
      summary: Page through exact pipeline cards
      description: Returns a bounded, cursor-paginated pipeline card page with stable stage keys for follow-up actions.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["pipeline:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: pipeline_cards_list
        title: List pipeline cards
        description: Page campaign pipeline cards by stage, search, or exact entity key.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Pipeline
        usage: pipeline cards list --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PipelineCardsListInput" }
      responses:
        "200":
          description: Pipeline card page.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PipelineCardsListResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/pipeline.stage.update:
    post:
      tags: [Agent tools]
      operationId: pipelineStageUpdate
      summary: Update an inspected pipeline card stage
      description: Changes one existing card only when its stage still matches the inspected stage. Marking a meeting booked requires recorded evidence or the user's explicit instruction.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["pipeline:read", "pipeline:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: pipeline_stage_update
        title: Update pipeline stage
        description: Change one inspected card using its exact stageKey and expectedStage.
        annotations:
          {
            readOnlyHint: false,
            destructiveHint: false,
            idempotentHint: true,
            openWorldHint: false,
          }
      x-dmfaster-cli:
        section: Pipeline
        usage: pipeline stage update --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PipelineStageUpdateInput" }
      responses:
        "200":
          description: Updated pipeline card.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PipelineStageUpdateResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/pipeline.note.list:
    post:
      tags: [Agent tools]
      operationId: pipelineNoteList
      summary: Read notes on one pipeline card
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["pipeline:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: pipeline_note_list
        title: List pipeline notes
        description: Read up to 100 notes for an exact campaign and pipeline entity.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        section: Pipeline
        usage: pipeline note list --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PipelineNoteListInput" }
      responses:
        "200":
          description: Pipeline notes.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PipelineNoteListResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/pipeline.note.add:
    post:
      tags: [Agent tools]
      operationId: pipelineNoteAdd
      summary: Add an idempotent note to one pipeline card
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["pipeline:read", "pipeline:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: pipeline_note_add
        title: Add pipeline note
        description: Add a note to an exact existing card with a durable idempotency key.
        annotations:
          {
            readOnlyHint: false,
            destructiveHint: false,
            idempotentHint: true,
            openWorldHint: false,
          }
      x-dmfaster-cli:
        section: Pipeline
        usage: pipeline note add --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PipelineNoteAddInput" }
      responses:
        "200":
          description: Saved note or exact replay.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PipelineNoteAddResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/company.timeline:
    post:
      tags: [Agent tools]
      operationId: companyTimeline
      summary: Inspect a company outreach timeline
      description: Returns up to 30 recorded outreach and pipeline events for one company. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read", "pipeline:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: company_timeline
        title: Inspect company timeline
        description: Read the outreach event timeline for one company record in one campaign.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: company timeline CAMPAIGN_ID COMPANY_OUTREACH_ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyTimelineInput"
      responses:
        "200":
          description: Company outreach timeline.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyTimelineResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/industry.lookup:
    post:
      tags: [Agent tools]
      operationId: industryLookup
      summary: Resolve an industry into official TOL selections
      description: Returns a grounded resolution, clarification, or unsupported verdict. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["audiences:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: industry_lookup
        title: Resolve industry
        description: Resolve a natural-language industry or explicit TOL code into official executable TOL selections. Returns clarification instead of guessing.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: industry lookup QUERY [--version 2008|2025] [--language en|fi]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IndustryLookupInput" }
      responses:
        "200":
          description: Industry resolution.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IndustryLookupResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.validate:
    post:
      tags: [Agent tools]
      operationId: campaignValidate
      summary: Validate a structured campaign plan
      description: Validates campaign readiness and capabilities without changing workspace data.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["audiences:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_validate
        title: Validate campaign plan
        description: Validate a complete structured campaign state against DM Faster capabilities and domain rules without changing workspace data.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign validate --state FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignValidateInput" }
      responses:
        "200":
          description: Campaign validation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignValidateResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/audience.preview:
    post:
      tags: [Agent tools]
      operationId: audiencePreview
      summary: Preview an exact company audience
      description: Returns bounded company samples and an exact total without changing workspace data.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["audiences:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: audience_preview
        title: Preview exact audience
        description: Preview bounded company rows and the exact matching total. Never describe a total as final unless totalMatchesExact is true.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: audience preview --state FILE [--sample-size N]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AudiencePreviewInput" }
      responses:
        "200":
          description: Exact audience preview.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AudiencePreviewResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/lists.list:
    post:
      tags:
        - Agent tools
      operationId: listsList
      summary: Find saved target lists
      description: Find existing workspace lists by a case-insensitive name search. Results are paginated with an exact matching-list total; inspect a selected list for authoritative audience counts and membership.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: lists_list
        title: Find saved target lists
        description: Find existing workspace lists by a case-insensitive name search. Results are paginated with an exact matching-list total; inspect a selected list for authoritative audience counts and membership.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: lists list [--query TEXT] [--limit N] [--offset N]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListsListInput"
      responses:
        "200":
          description: Find saved target lists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListsListResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/list.inspect:
    post:
      tags:
        - Agent tools
      operationId: listInspect
      summary: Inspect a saved Instagram list
      description: Read an existing Instagram list, its exact target count, bounded username page and resource version. Supply username to check exact membership across the whole list, independently of the page. Company lists require the company audience workflow.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: list_inspect
        title: Inspect a saved Instagram list
        description: Read an existing Instagram list, its exact target count, bounded username page and resource version. Supply username to check exact membership across the whole list, independently of the page. Company lists require the company audience workflow.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: list inspect LIST_ID [--username HANDLE] [--limit N] [--offset N]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListInspectInput"
      responses:
        "200":
          description: Inspect a saved Instagram list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/list.target.remove:
    post:
      tags:
        - Agent tools
      operationId: listTargetRemove
      summary: Remove an Instagram target
      description: Ensure one exact Instagram username is absent from an owner-owned saved list after the user requests removal. Echo list.inspect updatedAt as expectedListUpdatedAt. Refuse stale writes and lists protected by active campaigns. Already absent is a verified no-op. Sends nothing.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes:
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: list_target_remove
        title: Remove an Instagram target
        description: Ensure one exact Instagram username is absent from an owner-owned saved list after the user requests removal. Echo list.inspect updatedAt as expectedListUpdatedAt. Refuse stale writes and lists protected by active campaigns. Already absent is a verified no-op. Sends nothing.
        annotations:
          readOnlyHint: false
          destructiveHint: true
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: list target remove LIST_ID --username HANDLE --expected-version TIMESTAMP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListTargetRemoveInput"
      responses:
        "200":
          description: Remove an Instagram target
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTargetRemoveResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/campaign.draft.prepare:
    post:
      tags:
        - Agent tools
      operationId: campaignDraftPrepare
      summary: Prepare a campaign from a saved Instagram list
      description: Create an idempotent disabled Instagram campaign draft from a saved list and 1–4 exact message variations. Echo list.inspect updatedAt and exact total as expectedListUpdatedAt and expectedTargetCount. Delivery settings must be supplied. Never launches, schedules activation, or sends messages.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes:
        - campaigns:read
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_draft_prepare
        title: Prepare a campaign from a saved Instagram list
        description: Create an idempotent disabled Instagram campaign draft from a saved list and 1–4 exact message variations. Echo list.inspect updatedAt and exact total as expectedListUpdatedAt and expectedTargetCount. Delivery settings must be supplied. Never launches, schedules activation, or sends messages.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign draft prepare --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignDraftPrepareInput"
      responses:
        "200":
          description: Prepare a campaign from a saved Instagram list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDraftPrepareResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/campaign.draft.update:
    post:
      tags:
        - Agent tools
      operationId: campaignDraftUpdate
      summary: Update a saved social campaign draft
      description: Patch social copy, channel toggles, LinkedIn invitation and
        accepted-message sequence, delivery cap, pacing, or sending window of an
        existing disabled, unstarted social draft. Echo campaign.inspect
        updatedAt as expectedCampaignUpdatedAt. Omitted fields are preserved.
        Stale versions and started campaigns are rejected; saving a window never arms it. Inspect
        after an uncertain response before retrying. Never creates another
        campaign, enables sending, or launches.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes:
        - campaigns:read
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_draft_update
        title: Update a saved social campaign draft
        description: Patch social copy, channel toggles, LinkedIn invitation and
          accepted-message sequence, delivery cap, pacing, or sending window of an
          existing disabled, unstarted social draft. Echo campaign.inspect
          updatedAt as expectedCampaignUpdatedAt. Omitted fields are preserved.
          Stale versions and started campaigns are rejected; saving a window never arms it. Inspect
          after an uncertain response before retrying. Never creates another
          campaign, enables sending, or launches.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign draft update --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignDraftUpdateInput"
      responses:
        "200":
          description: Update a saved Instagram campaign draft
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDraftUpdateResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/list.import:
    post:
      tags: [Agent tools]
      operationId: listImport
      summary: Import a private Instagram username list
      description: Imports 1–1,000 supplied username rows into an owner-only private list. Available to all account owners, including Basic. Removes duplicates; retries verify the saved username set and reject changed input. Creates no campaign and sends nothing.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: list_import
        title: Import Instagram username list
        description: Save 1–1,000 supplied Instagram usernames as a private list after the user reviews them. Available to all account owners, including Basic. Duplicates are removed. Reuse the idempotency key only for the same list. Creates no campaign and sends nothing.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: list import --name NAME --file FILE [--idempotency-key KEY]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ListImportInput" }
      responses:
        "200":
          description: Private list preparation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListImportResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/list.prepare:
    post:
      tags: [Agent tools]
      operationId: listPrepare
      summary: Prepare an idempotent private company list
      description: Requires an exact audience and creates only a private workspace list.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: ["audiences:read", "campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: list_prepare
        title: Prepare private company list
        description: Create an idempotent private company list from an exact validated audience. First show the audience_preview result to the user, then echo its server-issued reviewedAudience object unchanged. This does not start outreach.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: list prepare --state FILE --reviewed-audience PREVIEW_JSON [--idempotency-key KEY]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ListPrepareInput" }
      responses:
        "200":
          description: Private list preparation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListPrepareResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.prepare:
    post:
      tags: [Agent tools]
      operationId: campaignPrepare
      summary: Prepare an idempotent disabled campaign draft
      description: Creates a private company list and disabled campaign draft. Nothing is sent.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: ["audiences:read", "campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_prepare
        title: Prepare campaign draft
        description: Create an idempotent private list and disabled campaign draft only after the user reviews audience_preview. Echo the preview's server-issued reviewedAudience object unchanged. Nothing is sent and the campaign is not started.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign prepare --state FILE --reviewed-audience PREVIEW_JSON [--idempotency-key KEY]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignPrepareInput" }
      responses:
        "200":
          description: Private campaign preparation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignPrepareResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.launch.preflight:
    post:
      tags: [Agent tools]
      operationId: campaignLaunchPreflight
      summary: Preflight one exact campaign launch
      description: Validates readiness. Returns a resumable browser-setup handoff when browser sending is unavailable; otherwise returns ready for a connection granted campaigns:control, or a short-lived owner approval request for other connections.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:launch"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_launch_preflight
        title: Preflight campaign launch
        description: Use only after the user explicitly instructs you to launch this campaign. Validate one exact campaign version without launching it. A ready result authorizes immediate launch with its server-issued authorization ID. A setup_required result means the user must open setup.setupUrl, then you repeat setup.resume exactly; an approval_required result means show the approval URL and confirmation code, then repeat identical inputs after the owner decides.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign launch preflight CAMPAIGN_ID --idempotency-key KEY
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionPreflightInput" }
      responses:
        "200":
          description: Resumable browser setup or launch approval result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignLaunchPreflightResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.launch:
    post:
      tags: [Agent tools]
      operationId: campaignLaunch
      summary: Execute an authorized campaign launch
      description: Starts only the exact campaign version bound to an approved authorization.
      x-dmfaster-effect: external
      x-dmfaster-required-scopes: ["campaigns:launch"]
      x-dmfaster-approval: human_confirmation
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_launch
        title: Launch approved campaign
        description: Start outreach only on an explicit user instruction and a matching ready or owner-approved preflight. A connection with campaigns:control needs no additional approval page. Requires the same campaign ID and idempotency key plus the server-issued authorization ID. If the browser went offline and this returns browser_worker_required, repeat the matching preflight to receive its setup handoff.
        annotations:
          readOnlyHint: false
          destructiveHint: true
          idempotentHint: true
          openWorldHint: true
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign launch CAMPAIGN_ID --idempotency-key KEY --authorization-id ID
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionInput" }
      responses:
        "200":
          description: Verified launch result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignLaunchResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.pause.preflight:
    post:
      tags: [Agent tools]
      operationId: campaignPausePreflight
      summary: Preflight one exact campaign pause
      description: Validates current state and returns ready for a connection granted campaigns:control, or a short-lived owner approval request otherwise.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_pause_preflight
        title: Preflight campaign pause
        description: Use only after an explicit user instruction to pause this campaign. A ready result permits immediate pause using its authorization ID; approval_required needs the owner to approve the returned page. This preflight does not pause it.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign pause preflight CAMPAIGN_ID --idempotency-key KEY
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionPreflightInput" }
      responses:
        "200":
          description: Pause preflight and human approval URL.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignPausePreflightResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.pause:
    post:
      tags: [Agent tools]
      operationId: campaignPause
      summary: Execute an authorized campaign pause
      description: Pauses only the exact campaign version bound to an approved authorization.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: human_confirmation
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_pause
        title: Pause approved campaign
        description: Pause a campaign only on an explicit user instruction and a matching ready or owner-approved preflight. A connection with campaigns:control needs no additional approval page. Retries with the same idempotency key are safe.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign pause CAMPAIGN_ID --idempotency-key KEY --authorization-id ID
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionInput" }
      responses:
        "200":
          description: Verified pause result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignPauseResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.filters:
    post:
      tags:
        - Agent tools
      operationId: companyFilters
      summary: Discover company filters
      description: Read all live Companies filter fields, country-specific options and restrictions. No campaign state required.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_filters
        title: Discover company filters
        description: Read all live Companies filter fields, country-specific options and restrictions. No campaign state required.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies filters --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyFiltersInput"
      responses:
        "200":
          description: Discover company filters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyFiltersResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.suggest:
    post:
      tags: [Agent tools]
      operationId: companySuggestions
      summary: Suggest company identities
      description: Bounded company suggestions for entity selection. No audience total or exhaustive result is returned. Use companies.search for exact filtered totals and pagination, and company.inspect for a current profile. This read never creates a list or spends credits.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: [audiences:read]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_suggest
        title: Suggest company identities
        description: Find a few company identities for selection or composer mentions. These are suggestions, not an audience or a complete inventory search. Use companies_search for exact totals.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies suggest --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanySuggestionsInput" }
      responses:
        "200":
          description: Bounded company suggestions without an audience total
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanySuggestionsResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.search:
    post:
      tags:
        - Agent tools
      operationId: companySearch
      summary: Search companies
      description: Search the same company inventory and filters as the live app. Returns full rows, exact total and pagination. Echo querySignature and expectedRevision on subsequent pages.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_search
        title: Search companies
        description: Search the same company inventory and filters as the live app. Returns full rows, exact total and pagination. Echo querySignature and expectedRevision on subsequent pages.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies search --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanySearchInput"
      responses:
        "200":
          description: Search companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.evidence.search:
    post:
      tags:
        - Agent tools
      operationId: companyEvidenceSearch
      summary: Preview website evidence shortlist
      description:
        Fast bounded preview only. For every fitting company use companies.evidence.start and companies.evidence.results. Search saved company website passages for arbitrary ICP criteria,
        preserving seller/service/buyer relationships. Agent-supplied source-language
        text retrieval with bounded JEV relationship verification. Advertised
        offerings, portfolio-only evidence, inference and unknown are distinct.
        Ranked shortlist has no audience total. Echo cursor, querySignature and
        expectedRevision to continue. Supply Finnish keywords and synonyms per criterion. Original passages allow
        independent assistant inspection. No OpenAI API or embeddings are required.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_evidence_search
        title: Preview website evidence shortlist
        description:
          Fast bounded preview only. For every fitting company use companies.evidence.start and companies.evidence.results. Search saved company website passages for arbitrary ICP criteria,
          preserving seller/service/buyer relationships. Agent-supplied source-language
          text retrieval with bounded JEV relationship verification. Advertised
          offerings, portfolio-only evidence, inference and unknown are distinct.
          Ranked shortlist has no audience total. Echo cursor, querySignature and
          expectedRevision to continue. Supply Finnish keywords and synonyms per criterion. Original passages allow
          independent assistant inspection. No OpenAI API or embeddings are required.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies evidence search --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyEvidenceSearchInput"
      responses:
        "200":
          description: Search companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyEvidenceSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.evidence.start:
    post:
      tags: [Agent tools]
      operationId: companyEvidenceStart
      summary: Start complete website evidence scan
      description: Start or resume a private complete website-evidence scan of every eligible published company. Preserve the original criteria and deterministic filters. All fresh retained passages are checked in resumable chunks; keywords only prioritize work. Processing continues in the background. Return every confirmed match through results; unknown or missing evidence stays unresolved. No OpenAI API or embeddings required.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: [audiences:read]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_evidence_start
        title: Start complete website evidence scan
        description: Start or resume a private complete website-evidence scan of every eligible published company. Preserve the original criteria and deterministic filters. All fresh retained passages are checked in resumable chunks; keywords only prioritize work. Processing continues in the background. Return every confirmed match through results; unknown or missing evidence stays unresolved. No OpenAI API or embeddings required.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        { section: B2B company prospecting, usage: "companies evidence start --input FILE" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanyEvidenceStartInput" }
      responses:
        "200":
          description: Complete scan progress and result page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyEvidenceStartResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.evidence.advance:
    post:
      tags: [Agent tools]
      operationId: companyEvidenceAdvance
      summary: Advance complete website evidence scan
      description: Advance bounded chunks of a complete website-evidence scan. Repeated calls never impose a lifetime company or passage limit. Background processing also continues. Echo runId and expectedRevision.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: [audiences:read]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_evidence_advance
        title: Advance complete website evidence scan
        description: Advance bounded chunks of a complete website-evidence scan. Repeated calls never impose a lifetime company or passage limit. Background processing also continues. Echo runId and expectedRevision.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        { section: B2B company prospecting, usage: "companies evidence advance --input FILE" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanyEvidenceAdvanceInput" }
      responses:
        "200":
          description: Complete scan progress and result page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyEvidenceAdvanceResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.evidence.status:
    post:
      tags: [Agent tools]
      operationId: companyEvidenceStatus
      summary: Status complete website evidence scan
      description: Read exact progress, observed confirmed-match counts and unresolved coverage for a private complete scan. Completion covers the pinned published inventory and fresh retained passages, not uncrawled websites.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: [audiences:read]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_evidence_status
        title: Status complete website evidence scan
        description: Read exact progress, observed confirmed-match counts and unresolved coverage for a private complete scan. Completion covers the pinned published inventory and fresh retained passages, not uncrawled websites.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        { section: B2B company prospecting, usage: "companies evidence status --input FILE" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanyEvidenceStatusInput" }
      responses:
        "200":
          description: Complete scan progress and result page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyEvidenceStatusResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.evidence.results:
    post:
      tags: [Agent tools]
      operationId: companyEvidenceResults
      summary: Results complete website evidence scan
      description: Page all finalized confirmed matches or unresolved companies from a private complete scan. Keep nextCursor even when a partial page is empty; later discoveries are appended in commit order. scanComplete distinguishes a provisional page from final results. Echo runId and expectedRevision.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: [audiences:read]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_evidence_results
        title: Results complete website evidence scan
        description: Page all finalized confirmed matches or unresolved companies from a private complete scan. Keep nextCursor even when a partial page is empty; later discoveries are appended in commit order. scanComplete distinguishes a provisional page from final results. Echo runId and expectedRevision.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        { section: B2B company prospecting, usage: "companies evidence results --input FILE" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanyEvidenceResultsInput" }
      responses:
        "200":
          description: Complete scan progress and result page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyEvidenceResultsResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.evidence.cancel:
    post:
      tags: [Agent tools]
      operationId: companyEvidenceCancel
      summary: Cancel complete website evidence scan
      description: Cancel a private website-evidence scan and fence in-flight workers. Repeated cancellation is safe; no campaign or outreach is changed.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: [audiences:read]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_evidence_cancel
        title: Cancel complete website evidence scan
        description: Cancel a private website-evidence scan and fence in-flight workers. Repeated cancellation is safe; no campaign or outreach is changed.
        annotations:
          { readOnlyHint: true, destructiveHint: false, idempotentHint: true, openWorldHint: false }
      x-dmfaster-cli:
        { section: B2B company prospecting, usage: "companies evidence cancel --input FILE" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanyEvidenceCancelInput" }
      responses:
        "200":
          description: Complete scan progress and result page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyEvidenceCancelResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/company.inspect:
    post:
      tags:
        - Agent tools
      operationId: companyInspect
      summary: Inspect company
      description: Read the complete company profile shown in the app, including financials, technologies, advertising, funding, hiring and decision-makers wherever available. Missing data is unknown.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: company_inspect
        title: Inspect company
        description: Read the complete company profile shown in the app, including financials, technologies, advertising, funding, hiring and decision-makers wherever available. Missing data is unknown.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: company inspect --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyInspectInput"
      responses:
        "200":
          description: Inspect company
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.fit.start:
    post:
      tags: [Agent tools]
      operationId: companyFitStart
      summary: Start a company fit review
      description: Snapshot a disabled campaign's exact company list for a resumable website-evidence review. Creates no campaign changes and never sends messages.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: [campaigns:read, audiences:read, campaigns:write]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: companies_fit_start
        title: Start company fit review
        description: Snapshot a disabled campaign's exact audience for a resumable website-evidence review. Never changes the audience or starts sending.
        annotations:
          {
            readOnlyHint: false,
            destructiveHint: false,
            idempotentHint: true,
            openWorldHint: false,
          }
      x-dmfaster-cli:
        { section: B2B company prospecting, usage: "companies fit start --input FILE" }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompanyFitStartInput" }
      responses:
        "200":
          description: Review run and exact progress
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyFitStartResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.fit.advance:
    post:
      tags: [Agent tools]
      operationId: companyFitAdvance
[...]
