openapi: 3.1.0
info:
  title: DM Faster Agent API
  version: 1.0.0
  description: |
    The stable API used by DM Faster agent clients. Every token is bound to one
    workspace. Campaign planning and private drafts use the same authoritative
    domain services as the app. Launch and pause require a short-lived server
    authorization bound to an exact campaign version and idempotency key. Owners
    may grant campaigns:control once when connecting an agent to act on their
    explicit instructions without a separate approval page for each action.
    Connections without that permission retain per-action browser approval.
    Browser-based launches first return a resumable setup handoff when no fresh
    browser worker is connected.
  license:
    name: Proprietary
servers:
  - url: https://app.dmfaster.com
    description: DM Faster application and Agent API.
tags:
  - name: Agent authentication
    description: Browser-approved login and revocation for local agent clients.
  - name: Agent tools
    description: Bounded tools backed by authoritative DM Faster domain services.
security:
  - bearerAuth: []
x-dmfaster-scopes:
  "workspace:read": Read workspace summary and aggregate worker state.
  "campaigns:read": Read campaign metadata and performance.
  "sending:read": Read browser-worker and sending health.
  "inbox:read": Read reply-attention data from the unified inbox.
  "pipeline:read": Read pipeline summaries and company outreach history.
  "audiences:read": Resolve industries and preview exact company audiences.
  "campaigns:write": Validate plans, prepare private drafts, and request confirmed pauses.
  "campaigns:launch": Request and execute separately approved campaign launches.
  "campaigns:control": With the action's normal scope, start or pause campaigns on explicit user instructions without per-action browser approval. Requires an owner grant at connection time.
paths:
  /api/v1/agent/auth/device:
    post:
      tags: [Agent authentication]
      operationId: startAgentDeviceAuthorization
      summary: Start browser-approved agent login
      description: |
        Creates a short-lived device authorization protected by PKCE S256. The
        returned device code and locally generated verifier must remain inside
        the client; only the secret-free verification URL is opened in the browser.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentDeviceAuthorizationInput"
      responses:
        "201":
          description: A five-minute browser authorization was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentDeviceAuthorizationResult"
        "400": { $ref: "#/components/responses/AuthBadRequest" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/auth/token:
    post:
      tags: [Agent authentication]
      operationId: exchangeAgentDeviceAuthorization
      summary: Poll and exchange an approved agent login
      description: |
        Poll no faster than the interval returned by the start endpoint. An
        approved authorization can be exchanged exactly once.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentDeviceTokenInput"
      responses:
        "200":
          description: The browser authorization was approved and exchanged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentDeviceTokenResult"
        "400": { $ref: "#/components/responses/AuthBadRequest" }
        "403": { $ref: "#/components/responses/AuthForbidden" }
        "409": { $ref: "#/components/responses/AuthConflict" }
        "428": { $ref: "#/components/responses/AuthPending" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/auth/status:
    get:
      tags: [Agent authentication]
      operationId: getAgentAuthenticationStatus
      summary: Verify the current agent login
      responses:
        "200":
          description: The bearer credential is active and its workspace remains accessible.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentAuthenticationStatus"
        "401": { $ref: "#/components/responses/AuthUnauthorized" }
        "403": { $ref: "#/components/responses/AuthForbidden" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/auth/revoke:
    post:
      tags: [Agent authentication]
      operationId: revokeAgentAuthentication
      summary: Revoke the current agent login
      responses:
        "200":
          description: The bearer credential was revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentAuthenticationRevoked"
        "401": { $ref: "#/components/responses/AuthUnauthorized" }
        "429": { $ref: "#/components/responses/AuthTooManyRequests" }
        "503": { $ref: "#/components/responses/AuthServiceUnavailable" }

  /api/v1/agent/tools/analytics.summary:
    post:
      tags: [Agent tools]
      operationId: analyticsSummary
      summary: Inspect an analytics summary
      description: Returns an authoritative analytics snapshot for an explicit time scope, optionally limited to one campaign. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["workspace:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: analytics_summary
        title: Analytics summary
        description: Read an authoritative analytics snapshot for an explicit time scope, optionally limited to one campaign identifier or exact name.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: analytics summary --scope today|last_24_hours|campaign_to_date [--campaign ID_OR_NAME]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsSummaryInput"
      responses:
        "200":
          description: Analytics summary.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSummaryResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/workspace.briefing:
    post:
      tags: [Agent tools]
      operationId: workspaceBriefing
      summary: Inspect the workspace briefing
      description: Returns an authoritative workspace, campaign, and sending summary. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["workspace:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: workspace_briefing
        title: Workspace briefing
        description: Start here when the user has not named a specific DM Faster resource. Read the authoritative workspace summary and current campaign and sending priorities.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: workspace briefing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceBriefingInput"
      responses:
        "200":
          description: Workspace briefing.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceBriefingResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaigns.list:
    post:
      tags: [Agent tools]
      operationId: campaignsList
      summary: List campaigns
      description: Lists the most recently updated campaigns, optionally filtered by status. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaigns_list
        title: List campaigns
        description: List campaigns in the current workspace, optionally filtered by status.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: campaigns list [--status STATUS] [--limit N]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignsListInput"
      responses:
        "200":
          description: Campaign list.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignsListResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.inspect:
    post:
      tags: [Agent tools]
      operationId: campaignInspect
      summary: Inspect campaign performance
      description: |
        Returns execution and pipeline facts for a campaign. When campaignId is
        omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_inspect
        title: Inspect campaign
        description: Read delivery, outcome, and pipeline facts for a campaign identifier returned by DM Faster.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: campaign inspect [CAMPAIGN_ID]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignInspectInput"
      responses:
        "200":
          description: Campaign performance.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/sending.inspect:
    post:
      tags: [Agent tools]
      operationId: sendingInspect
      summary: Inspect sending health
      description: |
        Returns customer-facing campaign, queue, and browser-worker health. When campaignId
        is omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["sending:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: sending_inspect
        title: Inspect sending health
        description: Read browser-worker, queue, and failed-send health for the workspace or one campaign.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: sending inspect [CAMPAIGN_ID]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendingInspectInput"
      responses:
        "200":
          description: Sending health.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendingInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/replies.list:
    post:
      tags: [Agent tools]
      operationId: repliesList
      summary: List priority replies
      description: |
        Returns bounded reply-attention records from the pipeline. When campaignId
        is omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["inbox:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: replies_list
        title: List priority replies
        description: Read actual reply-stage records that need attention. Never infer replies from sent counts.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: replies list [CAMPAIGN_ID] [--limit N] [--query TEXT]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepliesListInput"
      responses:
        "200":
          description: Priority replies.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepliesListResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/pipeline.inspect:
    post:
      tags: [Agent tools]
      operationId: pipelineInspect
      summary: Inspect campaign pipeline
      description: |
        Returns pipeline counts and a bounded lead sample. When campaignId is
        omitted, the selected, active, or most recent campaign is used. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["pipeline:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: pipeline_inspect
        title: Inspect pipeline
        description: Read contacted, replied, booked-call, and closed pipeline counts for a campaign.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: pipeline inspect [CAMPAIGN_ID]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineInspectInput"
      responses:
        "200":
          description: Pipeline summary.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PipelineInspectResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/company.timeline:
    post:
      tags: [Agent tools]
      operationId: companyTimeline
      summary: Inspect a company outreach timeline
      description: Returns up to 30 recorded outreach and pipeline events for one company. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["campaigns:read", "pipeline:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: company_timeline
        title: Inspect company timeline
        description: Read the outreach event timeline for one company record in one campaign.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: company timeline CAMPAIGN_ID COMPANY_OUTREACH_ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyTimelineInput"
      responses:
        "200":
          description: Company outreach timeline.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyTimelineResult"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/industry.lookup:
    post:
      tags: [Agent tools]
      operationId: industryLookup
      summary: Resolve an industry into official TOL selections
      description: Returns a grounded resolution, clarification, or unsupported verdict. Read-only.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["audiences:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: industry_lookup
        title: Resolve industry
        description: Resolve a natural-language industry or explicit TOL code into official executable TOL selections. Returns clarification instead of guessing.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: industry lookup QUERY [--version 2008|2025] [--language en|fi]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IndustryLookupInput" }
      responses:
        "200":
          description: Industry resolution.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IndustryLookupResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.validate:
    post:
      tags: [Agent tools]
      operationId: campaignValidate
      summary: Validate a structured campaign plan
      description: Validates campaign readiness and capabilities without changing workspace data.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["audiences:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_validate
        title: Validate campaign plan
        description: Validate a complete structured campaign state against DM Faster capabilities and domain rules without changing workspace data.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign validate --state FILE
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignValidateInput" }
      responses:
        "200":
          description: Campaign validation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignValidateResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/audience.preview:
    post:
      tags: [Agent tools]
      operationId: audiencePreview
      summary: Preview an exact company audience
      description: Returns bounded company samples and an exact total without changing workspace data.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes: ["audiences:read"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: audience_preview
        title: Preview exact audience
        description: Preview bounded company rows and the exact matching total. Never describe a total as final unless totalMatchesExact is true.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: audience preview --state FILE [--sample-size N]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AudiencePreviewInput" }
      responses:
        "200":
          description: Exact audience preview.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AudiencePreviewResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/lists.list:
    post:
      tags:
        - Agent tools
      operationId: listsList
      summary: Find saved target lists
      description: Find existing workspace lists by a case-insensitive name search. Results are paginated with an exact matching-list total; inspect a selected list for authoritative audience counts and membership.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: lists_list
        title: Find saved target lists
        description: Find existing workspace lists by a case-insensitive name search. Results are paginated with an exact matching-list total; inspect a selected list for authoritative audience counts and membership.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: lists list [--query TEXT] [--limit N] [--offset N]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListsListInput"
      responses:
        "200":
          description: Find saved target lists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListsListResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/list.inspect:
    post:
      tags:
        - Agent tools
      operationId: listInspect
      summary: Inspect a saved Instagram list
      description: Read an existing Instagram list, its exact target count, bounded username page and resource version. Supply username to check exact membership across the whole list, independently of the page. Company lists require the company audience workflow.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: list_inspect
        title: Inspect a saved Instagram list
        description: Read an existing Instagram list, its exact target count, bounded username page and resource version. Supply username to check exact membership across the whole list, independently of the page. Company lists require the company audience workflow.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Workspace reads
        usage: list inspect LIST_ID [--username HANDLE] [--limit N] [--offset N]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListInspectInput"
      responses:
        "200":
          description: Inspect a saved Instagram list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/list.target.remove:
    post:
      tags:
        - Agent tools
      operationId: listTargetRemove
      summary: Remove an Instagram target
      description: Ensure one exact Instagram username is absent from an owner-owned saved list after the user requests removal. Echo list.inspect updatedAt as expectedListUpdatedAt. Refuse stale writes and lists protected by active campaigns. Already absent is a verified no-op. Sends nothing.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes:
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: list_target_remove
        title: Remove an Instagram target
        description: Ensure one exact Instagram username is absent from an owner-owned saved list after the user requests removal. Echo list.inspect updatedAt as expectedListUpdatedAt. Refuse stale writes and lists protected by active campaigns. Already absent is a verified no-op. Sends nothing.
        annotations:
          readOnlyHint: false
          destructiveHint: true
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: list target remove LIST_ID --username HANDLE --expected-version TIMESTAMP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListTargetRemoveInput"
      responses:
        "200":
          description: Remove an Instagram target
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTargetRemoveResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/campaign.draft.prepare:
    post:
      tags:
        - Agent tools
      operationId: campaignDraftPrepare
      summary: Prepare a campaign from a saved Instagram list
      description: Create an idempotent disabled Instagram campaign draft from a saved list and 1–4 exact message variations. Echo list.inspect updatedAt and exact total as expectedListUpdatedAt and expectedTargetCount. Delivery settings must be supplied. Never launches, schedules activation, or sends messages.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes:
        - campaigns:read
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_draft_prepare
        title: Prepare a campaign from a saved Instagram list
        description: Create an idempotent disabled Instagram campaign draft from a saved list and 1–4 exact message variations. Echo list.inspect updatedAt and exact total as expectedListUpdatedAt and expectedTargetCount. Delivery settings must be supplied. Never launches, schedules activation, or sends messages.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign draft prepare --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignDraftPrepareInput"
      responses:
        "200":
          description: Prepare a campaign from a saved Instagram list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDraftPrepareResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/campaign.draft.update:
    post:
      tags:
        - Agent tools
      operationId: campaignDraftUpdate
      summary: Update a saved Instagram campaign draft
      description: Patch the name, messages, delivery cap, pacing, or automatic sending window of an
        existing disabled, unstarted Instagram draft. Echo campaign.inspect
        updatedAt as expectedCampaignUpdatedAt. Omitted fields are preserved.
        Stale versions and started campaigns are rejected; saving a window never arms it. Inspect
        after an uncertain response before retrying. Never creates another
        campaign, enables sending, or launches.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes:
        - campaigns:read
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_draft_update
        title: Update a saved Instagram campaign draft
        description:
          Patch the name, messages, delivery cap, pacing, or automatic sending window of an
          existing disabled, unstarted Instagram draft. Echo campaign.inspect
          updatedAt as expectedCampaignUpdatedAt. Omitted fields are preserved.
          Stale versions and started campaigns are rejected; saving a window never arms it. Inspect
          after an uncertain response before retrying. Never creates another
          campaign, enables sending, or launches.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign draft update --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignDraftUpdateInput"
      responses:
        "200":
          description: Update a saved Instagram campaign draft
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDraftUpdateResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/list.import:
    post:
      tags: [Agent tools]
      operationId: listImport
      summary: Import a private Instagram username list
      description: Imports 1–1,000 supplied username rows into an owner-only private list. Available to all account owners, including Basic. Removes duplicates; retries verify the saved username set and reject changed input. Creates no campaign and sends nothing.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: list_import
        title: Import Instagram username list
        description: Save 1–1,000 supplied Instagram usernames as a private list after the user reviews them. Available to all account owners, including Basic. Duplicates are removed. Reuse the idempotency key only for the same list. Creates no campaign and sends nothing.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: list import --name NAME --file FILE [--idempotency-key KEY]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ListImportInput" }
      responses:
        "200":
          description: Private list preparation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListImportResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/list.prepare:
    post:
      tags: [Agent tools]
      operationId: listPrepare
      summary: Prepare an idempotent private company list
      description: Requires an exact audience and creates only a private workspace list.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: ["audiences:read", "campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: list_prepare
        title: Prepare private company list
        description: Create an idempotent private company list from an exact validated audience. First show the audience_preview result to the user, then echo its server-issued reviewedAudience object unchanged. This does not start outreach.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: list prepare --state FILE --reviewed-audience PREVIEW_JSON [--idempotency-key KEY]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ListPrepareInput" }
      responses:
        "200":
          description: Private list preparation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ListPrepareResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.prepare:
    post:
      tags: [Agent tools]
      operationId: campaignPrepare
      summary: Prepare an idempotent disabled campaign draft
      description: Creates a private company list and disabled campaign draft. Nothing is sent.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes: ["audiences:read", "campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_prepare
        title: Prepare campaign draft
        description: Create an idempotent private list and disabled campaign draft only after the user reviews audience_preview. Echo the preview's server-issued reviewedAudience object unchanged. Nothing is sent and the campaign is not started.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign planning and drafts
        usage: campaign prepare --state FILE --reviewed-audience PREVIEW_JSON [--idempotency-key KEY]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignPrepareInput" }
      responses:
        "200":
          description: Private campaign preparation result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignPrepareResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.launch.preflight:
    post:
      tags: [Agent tools]
      operationId: campaignLaunchPreflight
      summary: Preflight one exact campaign launch
      description: Validates readiness. Returns a resumable browser-setup handoff when browser sending is unavailable; otherwise returns ready for a connection granted campaigns:control, or a short-lived owner approval request for other connections.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:launch"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_launch_preflight
        title: Preflight campaign launch
        description: Use only after the user explicitly instructs you to launch this campaign. Validate one exact campaign version without launching it. A ready result authorizes immediate launch with its server-issued authorization ID. A setup_required result means the user must open setup.setupUrl, then you repeat setup.resume exactly; an approval_required result means show the approval URL and confirmation code, then repeat identical inputs after the owner decides.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign launch preflight CAMPAIGN_ID --idempotency-key KEY
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionPreflightInput" }
      responses:
        "200":
          description: Resumable browser setup or launch approval result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignLaunchPreflightResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.launch:
    post:
      tags: [Agent tools]
      operationId: campaignLaunch
      summary: Execute an authorized campaign launch
      description: Starts only the exact campaign version bound to an approved authorization.
      x-dmfaster-effect: external
      x-dmfaster-required-scopes: ["campaigns:launch"]
      x-dmfaster-approval: human_confirmation
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_launch
        title: Launch approved campaign
        description: Start outreach only on an explicit user instruction and a matching ready or owner-approved preflight. A connection with campaigns:control needs no additional approval page. Requires the same campaign ID and idempotency key plus the server-issued authorization ID. If the browser went offline and this returns browser_worker_required, repeat the matching preflight to receive its setup handoff.
        annotations:
          readOnlyHint: false
          destructiveHint: true
          idempotentHint: true
          openWorldHint: true
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign launch CAMPAIGN_ID --idempotency-key KEY --authorization-id ID
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionInput" }
      responses:
        "200":
          description: Verified launch result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignLaunchResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.pause.preflight:
    post:
      tags: [Agent tools]
      operationId: campaignPausePreflight
      summary: Preflight one exact campaign pause
      description: Validates current state and returns ready for a connection granted campaigns:control, or a short-lived owner approval request otherwise.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_pause_preflight
        title: Preflight campaign pause
        description: Use only after an explicit user instruction to pause this campaign. A ready result permits immediate pause using its authorization ID; approval_required needs the owner to approve the returned page. This preflight does not pause it.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign pause preflight CAMPAIGN_ID --idempotency-key KEY
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionPreflightInput" }
      responses:
        "200":
          description: Pause preflight and human approval URL.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignPausePreflightResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/campaign.pause:
    post:
      tags: [Agent tools]
      operationId: campaignPause
      summary: Execute an authorized campaign pause
      description: Pauses only the exact campaign version bound to an approved authorization.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes: ["campaigns:write"]
      x-dmfaster-approval: human_confirmation
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_pause
        title: Pause approved campaign
        description: Pause a campaign only on an explicit user instruction and a matching ready or owner-approved preflight. A connection with campaigns:control needs no additional approval page. Retries with the same idempotency key are safe.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign controls
        usage: campaign pause CAMPAIGN_ID --idempotency-key KEY --authorization-id ID
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CampaignActionInput" }
      responses:
        "200":
          description: Verified pause result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CampaignPauseResult" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }

  /api/v1/agent/tools/companies.filters:
    post:
      tags:
        - Agent tools
      operationId: companyFilters
      summary: Discover company filters
      description: Read all live Companies filter fields, country-specific options and restrictions. No campaign state required.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_filters
        title: Discover company filters
        description: Read all live Companies filter fields, country-specific options and restrictions. No campaign state required.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies filters --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyFiltersInput"
      responses:
        "200":
          description: Discover company filters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyFiltersResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.search:
    post:
      tags:
        - Agent tools
      operationId: companySearch
      summary: Search companies
      description: Search the same company inventory and filters as the live app. Returns full rows, exact total and pagination. Echo querySignature and expectedRevision on subsequent pages.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_search
        title: Search companies
        description: Search the same company inventory and filters as the live app. Returns full rows, exact total and pagination. Echo querySignature and expectedRevision on subsequent pages.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies search --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanySearchInput"
      responses:
        "200":
          description: Search companies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/company.inspect:
    post:
      tags:
        - Agent tools
      operationId: companyInspect
      summary: Inspect company
      description: Read the complete company profile shown in the app, including financials, technologies, advertising, funding, hiring and decision-makers wherever available. Missing data is unknown.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: company_inspect
        title: Inspect company
        description: Read the complete company profile shown in the app, including financials, technologies, advertising, funding, hiring and decision-makers wherever available. Missing data is unknown.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: company inspect --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyInspectInput"
      responses:
        "200":
          description: Inspect company
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.list.prepare:
    post:
      tags:
        - Agent tools
      operationId: companyListPrepare
      summary: Save company shortlist
      description: Save explicitly inspected companies as a private company list. Echo each company.inspect revision. No campaign is created or started. Retry using the same key.
      x-dmfaster-effect: draft
      x-dmfaster-required-scopes:
        - audiences:read
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: companies_list_prepare
        title: Save company shortlist
        description: Save explicitly inspected companies as a private company list. Echo each company.inspect revision. No campaign is created or started. Retry using the same key.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies list prepare --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyListPrepareInput"
      responses:
        "200":
          description: Save company shortlist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyListPrepareResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/companies.list.inspect:
    post:
      tags:
        - Agent tools
      operationId: companyListInspect
      summary: Inspect company shortlist
      description: Read paginated company identities and available contact routes from a saved company list. Echo expectedUpdatedAt on subsequent pages. Use company.inspect for the current full research profile.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
        - audiences:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: companies_list_inspect
        title: Inspect company shortlist
        description: Read paginated company identities and available contact routes from a saved company list. Echo expectedUpdatedAt on subsequent pages. Use company.inspect for the current full research profile.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: B2B company prospecting
        usage: companies list inspect --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyListInspectInput"
      responses:
        "200":
          description: Inspect company shortlist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyListInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/agent/tools/campaign.operation.inspect:
    post:
      tags:
        - Agent tools
      operationId: campaignOperationInspect
      summary: Inspect campaign command progress
      description: Read the durable result of a launch or pause command. Queue
        preparation and sender acknowledgment are distinct from delivered
        messages.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_operation_inspect
        title: Inspect campaign command progress
        description: Read the durable result of a launch or pause command. Queue
          preparation and sender acknowledgment are distinct from delivered
          messages.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign operation and delivery
        usage: campaign operation inspect --input FILE [--wait SECONDS]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignOperationInspectInput"
      responses:
        "200":
          description: Inspect campaign command progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignOperationInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/agent/tools/campaign.delivery.inspect:
    post:
      tags:
        - Agent tools
      operationId: campaignDeliveryInspect
      summary: Inspect campaign delivery settings
      description: Read delivery configuration, configuration revision and known
        sending eligibility for a campaign, including running and paused
        campaigns.
      x-dmfaster-effect: read
      x-dmfaster-required-scopes:
        - campaigns:read
      x-dmfaster-approval: none
      x-dmfaster-owner-only: false
      x-dmfaster-mcp:
        name: campaign_delivery_inspect
        title: Inspect campaign delivery settings
        description: Read delivery configuration, configuration revision and known
          sending eligibility for a campaign, including running and paused
          campaigns.
        annotations:
          readOnlyHint: true
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign operation and delivery
        usage: campaign delivery inspect --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignDeliveryInspectInput"
      responses:
        "200":
          description: Inspect campaign delivery settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliveryInspectResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
  /api/v1/agent/tools/campaign.delivery.update:
    post:
      tags:
        - Agent tools
      operationId: campaignDeliveryUpdate
      summary: Update ongoing campaign delivery
      description: Change pacing, daily cap or automatic window on a running, paused
        or draft campaign. An in-progress attempt finishes; the new configuration
        applies to following attempts. Does not start a campaign or change its
        audience, content, run identity or terminal outcomes.
      x-dmfaster-effect: write
      x-dmfaster-required-scopes:
        - campaigns:read
        - campaigns:write
      x-dmfaster-approval: none
      x-dmfaster-owner-only: true
      x-dmfaster-mcp:
        name: campaign_delivery_update
        title: Update ongoing campaign delivery
        description: Change pacing, daily cap or automatic window on a running, paused
          or draft campaign. An in-progress attempt finishes; the new
          configuration applies to following attempts. Does not start a campaign
          or change its audience, content, run identity or terminal outcomes.
        annotations:
          readOnlyHint: false
          destructiveHint: false
          idempotentHint: true
          openWorldHint: false
      x-dmfaster-cli:
        section: Campaign operation and delivery
        usage: campaign delivery update --input FILE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CampaignDeliveryUpdateInput"
      responses:
        "200":
          description: Update ongoing campaign delivery
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignDeliveryUpdateResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: DM Faster agent token
      description: A revocable, scoped token bound to one DM Faster workspace.

  headers:
    CacheControl:
      description: Agent tool responses are not cached.
      schema:
        type: string
        const: no-store
    RequestId:
      description: Stable identifier for support, audit, and log correlation.
      schema:
        type: string
        minLength: 1
        maxLength: 128

  responses:
    AuthBadRequest:
      description: The authorization request or grant is invalid, expired, or already consumed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    AuthUnauthorized:
      description: The bearer credential is missing, malformed, expired, or revoked.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    AuthForbidden:
      description: Browser approval was denied or workspace access is no longer available.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    AuthConflict:
      description: The account cannot create another active agent credential.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    AuthPending:
      description: Browser authorization is still pending.
      headers:
        Retry-After:
          description: Minimum seconds before polling again.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    AuthTooManyRequests:
      description: The authorization client is polling too quickly or exceeded an authentication limit.
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    AuthServiceUnavailable:
      description: Agent authentication is temporarily unavailable.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AgentAuthErrorResponse" }
    BadRequest:
      description: The request body is invalid or exceeds a documented bound.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: invalid_request
              message: The agent tool input is invalid.
              retryable: false
              requestId: req_01JEXAMPLE
    Unauthorized:
      description: The bearer token is missing, malformed, expired, or revoked.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: unauthorized
              message: A valid DM Faster agent token is required.
              retryable: false
              requestId: req_01JEXAMPLE
    Forbidden:
      description: The token is valid but lacks a required scope or workspace access.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: insufficient_scope
              message: The token does not grant the required scope.
              retryable: false
              requestId: req_01JEXAMPLE
    NotFound:
      description: The workspace-scoped campaign or company resource was not found.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: not_found
              message: The requested resource was not found in this workspace.
              retryable: false
              requestId: req_01JEXAMPLE
    TooManyRequests:
      description: The workspace or token rate limit was exceeded.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: rate_limited
              message: Too many agent tool requests.
              retryable: true
              requestId: req_01JEXAMPLE
    InternalServerError:
      description: The request failed unexpectedly.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: internal_error
              message: The agent tool could not complete the request.
              retryable: true
              requestId: req_01JEXAMPLE
    ServiceUnavailable:
      description: An authoritative upstream service is temporarily unavailable.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
        Retry-After:
          description: Seconds to wait before retrying, when known.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: service_unavailable
              message: Authoritative workspace data is temporarily unavailable.
              retryable: true
              requestId: req_01JEXAMPLE

  schemas:
    AgentApiScope:
      type: string
      enum:
        - workspace:read
        - campaigns:read
        - sending:read
        - inbox:read
        - pipeline:read
        - audiences:read
        - campaigns:write
        - campaigns:launch
        - campaigns:control

    AgentDeviceAuthorizationInput:
      type: object
      additionalProperties: false
      required:
        - client
        - deviceName
        - codeChallenge
        - codeChallengeMethod
        - scopes
        - expiresInDays
      properties:
        client:
          type: string
          minLength: 1
          maxLength: 80
          pattern: '.*\S.*'
        deviceName:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '.*\S.*'
        codeChallenge:
          type: string
          pattern: "^[A-Za-z0-9_-]{43}$"
          description: Base64url-encoded SHA-256 hash of the local PKCE verifier.
        codeChallengeMethod:
          type: string
          const: S256
        scopes:
          type: array
          minItems: 1
          maxItems: 9
          uniqueItems: true
          items:
            $ref: "#/components/schemas/AgentApiScope"
        expiresInDays:
          type: integer
          enum: [30, 90, 365]

    AgentDeviceAuthorizationResult:
      type: object
      additionalProperties: false
      required:
        - requestId
        - deviceCode
        - confirmationCode
        - verificationUrl
        - expiresIn
        - interval
      properties:
        requestId:
          type: string
          pattern: "^agent_auth_[a-f0-9]{32}$"
        deviceCode:
          type: string
          pattern: "^dmf_device_[A-Za-z0-9_-]{43}$"
        confirmationCode:
          type: string
          pattern: "^[A-HJ-NP-Z2-9]{4}-[A-HJ-NP-Z2-9]{4}$"
        verificationUrl:
          type: string
          format: uri
          description: Secret-free same-origin URL to open in the user's browser.
        expiresIn:
          type: integer
          const: 300
        interval:
          type: integer
          minimum: 1

    AgentDeviceTokenInput:
      type: object
      additionalProperties: false
      required: [deviceCode, codeVerifier]
      properties:
        deviceCode:
          type: string
          pattern: "^dmf_device_[A-Za-z0-9_-]{43}$"
          writeOnly: true
        codeVerifier:
          type: string
          minLength: 43
          maxLength: 128
          pattern: "^[A-Za-z0-9._~-]+$"
          writeOnly: true

    AgentCredential:
      type: object
      additionalProperties: false
      required: [id, name, client, scopes, workspaceUserId, expiresAt]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 200
        name:
          type: string
          minLength: 1
          maxLength: 200
        client:
          type: string
          minLength: 1
          maxLength: 200
        scopes:
          type: array
          minItems: 1
          maxItems: 9
          uniqueItems: true
          items:
            $ref: "#/components/schemas/AgentApiScope"
        workspaceUserId:
          type: string
          minLength: 1
          maxLength: 200
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

    AgentAuthenticatedParty:
      type: object
      additionalProperties: false
      required: [id, name, email]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 200
        name:
          type: string
          minLength: 1
          maxLength: 300
        email:
          type: string
          format: email
          maxLength: 320

    AgentDeviceTokenResult:
      type: object
      additionalProperties: false
      required:
        - accessToken
        - tokenType
        - expiresIn
        - expiresAt
        - scope
        - credential
        - workspace
        - user
      properties:
        accessToken:
          type: string
          pattern: "^dmf_pat_[a-f0-9]{64}$"
        tokenType:
          type: string
          const: Bearer
        expiresIn:
          type: integer
          minimum: 0
        expiresAt:
          type: string
          format: date-time
        scope:
          type: string
          minLength: 1
        credential:
          $ref: "#/components/schemas/AgentCredential"
        workspace:
          $ref: "#/components/schemas/AgentAuthenticatedParty"
        user:
          $ref: "#/components/schemas/AgentAuthenticatedParty"

    AgentAuthenticationStatus:
      type: object
      additionalProperties: false
      required: [authenticated, credential, workspace, user]
      properties:
        authenticated:
          type: boolean
          const: true
        credential:
          $ref: "#/components/schemas/AgentCredential"
        workspace:
          $ref: "#/components/schemas/AgentAuthenticatedParty"
        user:
          $ref: "#/components/schemas/AgentAuthenticatedParty"

    AgentAuthenticationRevoked:
      type: object
      additionalProperties: false
      required: [revoked]
      properties:
        revoked:
          type: boolean
          const: true

    AgentAuthErrorResponse:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              minLength: 1
              maxLength: 100
            message:
              type: string
              minLength: 1
              maxLength: 500

    AgentToolName:
      type: string
      enum:
        - analytics.summary
        - workspace.briefing
        - campaigns.list
        - campaign.inspect
        - sending.inspect
        - replies.list
        - pipeline.inspect
        - company.timeline
        - industry.lookup
        - campaign.validate
        - audience.preview
        - lists.list
        - list.inspect
        - list.target.remove
        - campaign.draft.prepare
        - campaign.draft.update
        - list.import
        - list.prepare
        - campaign.prepare
        - campaign.launch.preflight
        - campaign.launch
        - campaign.pause.preflight
        - campaign.pause
        - companies.filters
        - companies.search
        - company.inspect
        - companies.list.prepare
        - companies.list.inspect
        - campaign.operation.inspect
        - campaign.delivery.inspect
        - campaign.delivery.update

    AgentToolPolicy:
      type: object
      additionalProperties: false
      required: [effect, approval, exposure]
      properties:
        effect:
          type: string
          enum: [read, draft, write, external]
        approval:
          type: string
          enum: [none, human_confirmation]
        exposure:
          type: string
          const: public_api

    AgentToolEvidence:
      type: object
      additionalProperties: false
      required: [source, observedAt, scope]
      properties:
        source:
          type: string
          enum:
            - workspace_campaigns
            - worker_control_plane
            - campaign_diagnostics
            - pipeline
            - inbox
            - company_database
            - classification_catalog
            - campaign_workflow
            - analytics_snapshot
        observedAt:
          type: string
          format: date-time
        scope:
          type: string
          enum: [workspace, campaign, audience, conversation]

    AgentToolConsistency:
      type: object
      additionalProperties: false
      required: [status, checks]
      properties:
        status:
          type: string
          enum: [verified, unavailable, conflict]
        checks:
          type: array
          items:
            type: string

    AgentToolError:
      type: object
      additionalProperties: false
      required: [code, message, retryable]
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 100
        message:
          type: string
          minLength: 1
          maxLength: 500
        retryable:
          type: boolean

    AgentToolResultBase:
      type: object
      additionalProperties: false
      required:
        - version
        - tool
        - policy
        - ok
        - generatedAt
        - durationMs
        - evidence
        - consistency
        - data
        - artifacts
        - error
      properties:
        version:
          type: integer
          const: 1
        tool:
          $ref: "#/components/schemas/AgentToolName"
        policy:
          $ref: "#/components/schemas/AgentToolPolicy"
        ok:
          type: boolean
        generatedAt:
          type: string
          format: date-time
        durationMs:
          type: integer
          minimum: 0
          maximum: 120000
        evidence:
          type: array
          items:
            $ref: "#/components/schemas/AgentToolEvidence"
        consistency:
          $ref: "#/components/schemas/AgentToolConsistency"
        data: {}
        artifacts:
          type: array
          items: {}
        error:
          oneOf:
            - $ref: "#/components/schemas/AgentToolError"
            - type: "null"

    AnalyticsSummaryResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: analytics.summary }
            data:
              oneOf:
                - $ref: "#/components/schemas/AnalyticsSummaryOutput"
                - type: "null"

    WorkspaceBriefingResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: workspace.briefing }
            data:
              oneOf:
                - $ref: "#/components/schemas/WorkspaceBriefingOutput"
                - type: "null"

    CampaignsListResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaigns.list }
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignsListOutput"
                - type: "null"

    CampaignInspectResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.inspect }
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignInspectOutput"
                - type: "null"

    SendingInspectResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: sending.inspect }
            data:
              oneOf:
                - $ref: "#/components/schemas/SendingInspectOutput"
                - type: "null"

    RepliesListResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: replies.list }
            data:
              oneOf:
                - $ref: "#/components/schemas/RepliesListOutput"
                - type: "null"

    PipelineInspectResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: pipeline.inspect }
            data:
              oneOf:
                - $ref: "#/components/schemas/PipelineInspectOutput"
                - type: "null"

    CompanyTimelineResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: company.timeline }
            data:
              oneOf:
                - $ref: "#/components/schemas/CompanyTimelineOutput"
                - type: "null"

    IndustryLookupResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: industry.lookup }
            data:
              oneOf:
                - $ref: "#/components/schemas/IndustryLookupOutput"
                - type: "null"

    CampaignValidateResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.validate }
            data:
              oneOf:
                - $ref: "#/components/schemas/AgentHarnessResult"
                - type: "null"

    AudiencePreviewResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: audience.preview }
            data:
              oneOf:
                - $ref: "#/components/schemas/AudiencePreviewHarnessResult"
                - type: "null"

    ListPrepareResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: list.prepare }
            data:
              oneOf:
                - $ref: "#/components/schemas/AgentHarnessResult"
                - type: "null"

    CampaignPrepareResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.prepare }
            data:
              oneOf:
                - $ref: "#/components/schemas/AgentHarnessResult"
                - type: "null"

    CampaignLaunchPreflightResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.launch.preflight }
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignActionPreflightOutput"
                - type: "null"

    CampaignLaunchResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.launch }
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignActionOutput"
                - type: "null"

    CampaignPausePreflightResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.pause.preflight }
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignActionApprovalRequiredOutput"
                - $ref: "#/components/schemas/CampaignActionReadyOutput"
                - type: "null"

    CampaignPauseResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool: { type: string, const: campaign.pause }
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignActionOutput"
                - type: "null"

    AnalyticsSummaryInput:
      type: object
      additionalProperties: false
      required: [scope]
      properties:
        scope:
          type: string
          enum: [today, last_24_hours, campaign_to_date]
        campaign:
          allOf:
            - $ref: "#/components/schemas/ResourceId"
          description: Optional campaign identifier or exact campaign name.

    WorkspaceBriefingInput:
      type: object
      additionalProperties: false

    CampaignsListInput:
      type: object
      additionalProperties: false
      properties:
        status:
          $ref: "#/components/schemas/CampaignStatus"
        limit:
          type: integer
          minimum: 1
          maximum: 25

    CampaignInspectInput:
      $ref: "#/components/schemas/OptionalCampaignInput"

    SendingInspectInput:
      $ref: "#/components/schemas/OptionalCampaignInput"

    RepliesListInput:
      type: object
      additionalProperties: false
      properties:
        campaignId:
          $ref: "#/components/schemas/ResourceId"
        limit:
          type: integer
          minimum: 1
          maximum: 20
        query:
          type: string
          minLength: 1
          maxLength: 120
          pattern: ".*\\S.*"
          description: Optional case-insensitive reply search text.

    PipelineInspectInput:
      $ref: "#/components/schemas/OptionalCampaignInput"

    CompanyTimelineInput:
      type: object
      additionalProperties: false
      required: [campaignId, companyOutreachId]
      properties:
        campaignId:
          $ref: "#/components/schemas/ResourceId"
        companyOutreachId:
          $ref: "#/components/schemas/ResourceId"

    IndustryLookupInput:
      type: object
      additionalProperties: false
      required: [query]
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 800
          pattern: ".*\\S.*"
        version:
          oneOf:
            - $ref: "#/components/schemas/TolVersion"
            - type: "null"
        language:
          type: string
          enum: [en, fi]

    CampaignValidateInput:
      type: object
      additionalProperties: false
      required: [state]
      properties:
        state:
          $ref: "#/components/schemas/AgentCampaignState"

    AudiencePreviewInput:
      type: object
      additionalProperties: false
      required: [state]
      properties:
        state:
          $ref: "#/components/schemas/AgentCampaignState"
        sampleSize:
          type: integer
          minimum: 1
          maximum: 25

    ReviewedAudience:
      type: object
      additionalProperties: false
      description: Server-issued identity from the exact audience preview. Echo this object unchanged when preparing a private list or campaign; clients must not derive it.
      required: [querySignature, dataFreshness]
      properties:
        querySignature:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ".*\\S.*"
        dataFreshness:
          type: object
          additionalProperties: false
          required: [engine, revision]
          properties:
            engine:
              type: string
              const: search_facts
            revision:
              type: string
              minLength: 1
              maxLength: 200
              pattern: ".*\\S.*"
        excludePreviouslyContacted:
          type: boolean

    ListsListInput:
      type: object
      additionalProperties: false
      required: []
      properties:
        query:
          type: string
          minLength: 1
          maxLength: 120
        limit:
          type: integer
          minimum: 1
          maximum: 25
        offset:
          type: integer
          minimum: 0
          maximum: 1000000
    ListsListData:
      type: object
      additionalProperties: false
      required:
        - lists
        - total
        - nextOffset
      properties:
        lists:
          type: array
          maxItems: 25
          items:
            type: object
            additionalProperties: false
            required:
              - listId
              - name
              - isCompanyLeadList
            properties:
              listId:
                type: string
                minLength: 1
                maxLength: 160
              name:
                type: string
              isCompanyLeadList:
                type: boolean
        total:
          type: integer
          minimum: 0
        nextOffset:
          type:
            - integer
            - "null"
    ListInspectInput:
      type: object
      additionalProperties: false
      required:
        - listId
      properties:
        listId:
          $ref: "#/components/schemas/ResourceId"
        username:
          type: string
          minLength: 1
          maxLength: 64
        limit:
          type: integer
          minimum: 1
          maximum: 100
        offset:
          type: integer
          minimum: 0
          maximum: 1000000
    SavedInstagramList:
      type: object
      additionalProperties: false
      required:
        - listId
        - name
        - updatedAt
        - total
      properties:
        listId:
          type: string
          minLength: 1
          maxLength: 160
        name:
          type: string
        updatedAt:
          type: string
          minLength: 1
          maxLength: 160
        total:
          type: integer
          minimum: 0
    ListInspectData:
      type: object
      additionalProperties: false
      required:
        - list
        - usernames
        - nextOffset
        - membership
      properties:
        list:
          $ref: "#/components/schemas/SavedInstagramList"
        usernames:
          type: array
          maxItems: 100
          items:
            type: string
            minLength: 1
            maxLength: 30
        nextOffset:
          type:
            - integer
            - "null"
        membership:
          oneOf:
            - type: object
              additionalProperties: false
              required:
                - username
                - present
              properties:
                username:
                  type: string
                  minLength: 1
                  maxLength: 30
                present:
                  type: boolean
            - type: "null"
    ListTargetRemoveInput:
      type: object
      additionalProperties: false
      required:
        - listId
        - username
        - expectedListUpdatedAt
      properties:
        listId:
          $ref: "#/components/schemas/ResourceId"
        username:
          type: string
          minLength: 1
          maxLength: 64
        expectedListUpdatedAt:
          $ref: "#/components/schemas/ResourceVersion"
    ListTargetRemoveData:
      type: object
      additionalProperties: false
      required:
        - list
        - username
        - removed
        - present
      properties:
        list:
          $ref: "#/components/schemas/SavedInstagramList"
        username:
          type: string
          minLength: 1
          maxLength: 30
        removed:
          type: boolean
        present:
          const: false
    ResourceVersion:
      type: string
      pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:\.\d{1,6})?Z$
      minLength: 20
      maxLength: 27
    CampaignDraftUpdateInput:
      type: object
      additionalProperties: false
      required:
        - campaignId
        - expectedCampaignUpdatedAt
        - updates
      properties:
        campaignId:
          $ref: "#/components/schemas/ResourceId"
        expectedCampaignUpdatedAt:
          $ref: "#/components/schemas/ResourceVersion"
        updates:
          type: object
          additionalProperties: false
          minProperties: 1
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 120
            messageVariants:
              type: array
              minItems: 1
              maxItems: 4
              items:
                type: string
                minLength: 1
                maxLength: 1000
            dailyCap:
              type: integer
              minimum: 1
              maximum: 60
            pacingSeconds:
              type: integer
              minimum: 12
              maximum: 3600
            instagramSendingWindowEnabled:
              type: boolean
            instagramSendingWindowStartMinute:
              type: integer
              minimum: 0
              maximum: 1380
            instagramSendingWindowEndMinute:
              type: integer
              minimum: 60
              maximum: 1440
            instagramSendingWindowWeekdays:
              type: integer
              minimum: 1
              maximum: 127
    CampaignDraftUpdateData:
      type: object
      additionalProperties: false
      required:
        - campaignId
        - listId
        - campaignUpdatedAt
        - name
        - status
        - enabled
        - channel
        - targetCount
        - messageVariants
        - dailyCap
        - pacingSeconds
        - onlyNewChats
        - skipPreviouslyMessaged
        - instagramSendingWindowEnabled
        - instagramSendingWindowStartMinute
        - instagramSendingWindowEndMinute
        - instagramSendingWindowWeekdays
        - timezone
      properties:
        campaignId:
          type: string
          minLength: 1
          maxLength: 160
        listId:
          type: string
          minLength: 1
          maxLength: 160
        campaignUpdatedAt:
          type: string
          minLength: 1
          maxLength: 160
        name:
          type: string
        status:
          const: Draft
        enabled:
          const: false
        channel:
          const: instagram
        targetCount:
          type: integer
          minimum: 0
        messageVariants:
          type: array
          minItems: 1
          maxItems: 4
          items:
            type: string
            minLength: 1
            maxLength: 1000
        dailyCap:
          type: integer
          minimum: 1
          maximum: 60
        pacingSeconds:
          type: integer
          minimum: 12
          maximum: 3600
        onlyNewChats:
          type: boolean
        skipPreviouslyMessaged:
          type: boolean
        instagramSendingWindowEnabled:
          type: boolean
        instagramSendingWindowStartMinute:
          type: integer
          minimum: 0
          maximum: 1380
        instagramSendingWindowEndMinute:
          type: integer
          minimum: 60
          maximum: 1440
        instagramSendingWindowWeekdays:
          type: integer
          minimum: 1
          maximum: 127
        timezone:
          type: string
    CampaignDraftUpdateResult:
      allOf:
        - $ref: "#/components/schemas/AgentToolResultBase"
        - type: object
          properties:
            tool:
              const: campaign.draft.update
            data:
              oneOf:
                - $ref: "#/components/schemas/CampaignDraftUpdateData"
                - type: "null"
    CampaignDraftPrepareInput:
      type: object
      additionalProperties: false
      required:
        - listId
        - expectedListUpdatedAt
        - expectedTargetCount
        - name
        - messageVariants
        - dailyCap
        - pacingSeconds
        - onlyNewChats
        - skipPreviouslyMessaged
        - idempotencyKey
      properties:
        listId:
          $ref: "#/components/schemas/ResourceId"
        expectedListUpdatedAt:
          $ref: "#/components/schemas/ResourceVersion"
        expectedTargetCount:
          type: integer
          minimum: 1
        name:
          type: string
          minLength: 1
          maxLength: 120
        messageVariants:
          type: array
          minItems: 1
          maxItems: 4
          items:
            type: string
            minLength: 1
            maxLength: 1000
        dailyCap:
          type: integer
          minimum: 1
          maximum: 60
        pacingSeconds:
          type: integer
          minimum: 12
          maximum: 3600
        onlyNewChats:
          const: true
        skipPreviouslyMessaged:
          const: true
        idempotencyKey:
          $ref: "#/components/schemas/IdempotencyKey"
    CampaignDraftPrepareData:
      type: object
[...]
